.logo {
  color: #18a582;
}
.heading {
  font-size: 70px;
}
.navbar {
  border-bottom: 1px solid rgb(216, 212, 212);
}
.highlight {
  color: #18a582;
}
.heading-btn {
  width: 200px;
  height: 60px;
}

/* main */
.main {
  margin: 180px 0;
}
.main-img img {
  height: 420px;
}

@media only screen and (max-width: 600px) {
  .main-img img {
    height: 360px;
  }
  .heading {
    font-size: 60px;
  }
  .main {
    margin: 60px 0;
  }
}
